.elementor-74 .elementor-element.elementor-element-a593fbe {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--gap: 0px 0px;
	--background-transition: 0.3s;
}
.elementor-74 .elementor-element.elementor-element-a593fbe:not(.elementor-motion-effects-element-type-background),
.elementor-74
	.elementor-element.elementor-element-a593fbe
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-color: #1c2d37;
}
.elementor-74 .elementor-element.elementor-element-a593fbe,
.elementor-74 .elementor-element.elementor-element-a593fbe::before {
	--border-transition: 0.3s;
}
.elementor-74 .elementor-element.elementor-element-a593fbe.e-con {
	--flex-grow: 0;
	--flex-shrink: 0;
}
.elementor-74 .elementor-element.elementor-element-43b60fe {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--background-transition: 0.3s;
}
.elementor-74 .elementor-element.elementor-element-43b60fe.e-con {
	--flex-grow: 0;
	--flex-shrink: 0;
}
.elementor-74 .elementor-element.elementor-element-b99858f .elementor-menu-toggle {
	margin: 0 auto;
}
.elementor-74 .elementor-element.elementor-element-b99858f .elementor-nav-menu--main .elementor-item:hover,
.elementor-74
	.elementor-element.elementor-element-b99858f
	.elementor-nav-menu--main
	.elementor-item.elementor-item-active,
.elementor-74 .elementor-element.elementor-element-b99858f .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-74 .elementor-element.elementor-element-b99858f .elementor-nav-menu--main .elementor-item:focus {
	color: #edad22;
	fill: #edad22;
}
.elementor-74
	.elementor-element.elementor-element-b99858f
	.elementor-nav-menu--main:not(.e--pointer-framed)
	.elementor-item:before,
.elementor-74
	.elementor-element.elementor-element-b99858f
	.elementor-nav-menu--main:not(.e--pointer-framed)
	.elementor-item:after {
	background-color: #edad22;
}
.elementor-74 .elementor-element.elementor-element-b99858f .e--pointer-framed .elementor-item:before,
.elementor-74 .elementor-element.elementor-element-b99858f .e--pointer-framed .elementor-item:after {
	border-color: #edad22;
}
.elementor-74 .elementor-element.elementor-element-4a8b08d {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--justify-content: center;
	--gap: 0px 0px;
	--background-transition: 0.3s;
}
.elementor-74 .elementor-element.elementor-element-4a8b08d:not(.elementor-motion-effects-element-type-background),
.elementor-74
	.elementor-element.elementor-element-4a8b08d
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-color: #1c2d37;
}
.elementor-74 .elementor-element.elementor-element-4a8b08d,
.elementor-74 .elementor-element.elementor-element-4a8b08d::before {
	--border-transition: 0.3s;
}
.elementor-74 .elementor-element.elementor-element-36e1fee {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--align-items: flex-end;
	--background-transition: 0.3s;
}
.elementor-74 .elementor-element.elementor-element-76e2857 {
	text-align: right;
}
.elementor-74 .elementor-element.elementor-element-76e2857 img {
	width: 27%;
}
.elementor-74 .elementor-element.elementor-element-6fbecbb {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--justify-content: center;
	--align-items: center;
	--background-transition: 0.3s;
}
.elementor-74 .elementor-element.elementor-element-2060a79 > .elementor-widget-container {
	margin: 0px 125px 0px 0px;
}
.elementor-74 .elementor-element.elementor-element-2060a79 .elementor-menu-toggle {
	margin-right: auto;
}
.elementor-74 .elementor-element.elementor-element-2060a79 .elementor-nav-menu--main .elementor-item:hover,
.elementor-74
	.elementor-element.elementor-element-2060a79
	.elementor-nav-menu--main
	.elementor-item.elementor-item-active,
.elementor-74 .elementor-element.elementor-element-2060a79 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-74 .elementor-element.elementor-element-2060a79 .elementor-nav-menu--main .elementor-item:focus {
	color: #edad22;
	fill: #edad22;
}
.elementor-74
	.elementor-element.elementor-element-2060a79
	.elementor-nav-menu--main:not(.e--pointer-framed)
	.elementor-item:before,
.elementor-74
	.elementor-element.elementor-element-2060a79
	.elementor-nav-menu--main:not(.e--pointer-framed)
	.elementor-item:after {
	background-color: #edad22;
}
.elementor-74 .elementor-element.elementor-element-2060a79 .e--pointer-framed .elementor-item:before,
.elementor-74 .elementor-element.elementor-element-2060a79 .e--pointer-framed .elementor-item:after {
	border-color: #edad22;
}
.elementor-74 .elementor-element.elementor-element-0a14092 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--justify-content: center;
	--align-items: center;
	--background-transition: 0.3s;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 30px;
	--padding-bottom: 72px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-74 .elementor-element.elementor-element-0a14092:not(.elementor-motion-effects-element-type-background),
.elementor-74
	.elementor-element.elementor-element-0a14092
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-color: #1c2d37;
}
.elementor-74 .elementor-element.elementor-element-0a14092,
.elementor-74 .elementor-element.elementor-element-0a14092::before {
	--border-transition: 0.3s;
}
.elementor-74 .elementor-element.elementor-element-761a0fd {
	--display: flex;
	--justify-content: center;
	--align-items: center;
	--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	--background-transition: 0.3s;
	--overlay-opacity: 0.5;
	--border-radius: 15px 15px 15px 15px;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 40px;
	--padding-bottom: 40px;
	--padding-left: 25px;
	--padding-right: 0px;
}
.elementor-74 .elementor-element.elementor-element-761a0fd:not(.elementor-motion-effects-element-type-background),
.elementor-74
	.elementor-element.elementor-element-761a0fd
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-image: url("../../2024/08/photo-realistic-housing-coordinator-with-home-heart-concept-housing-support-care-com-scaled.jpg");
	background-position: -30px 0px;
	background-repeat: no-repeat;
	background-size: cover;
}
.elementor-74 .elementor-element.elementor-element-761a0fd::before,
.elementor-74 .elementor-element.elementor-element-761a0fd > .elementor-background-video-container::before,
.elementor-74
	.elementor-element.elementor-element-761a0fd
	> .e-con-inner
	> .elementor-background-video-container::before,
.elementor-74 .elementor-element.elementor-element-761a0fd > .elementor-background-slideshow::before,
.elementor-74 .elementor-element.elementor-element-761a0fd > .e-con-inner > .elementor-background-slideshow::before,
.elementor-74
	.elementor-element.elementor-element-761a0fd
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer::before {
	--background-overlay: "";
	background-color: #464444;
}
.elementor-74 .elementor-element.elementor-element-761a0fd,
.elementor-74 .elementor-element.elementor-element-761a0fd::before {
	--border-transition: 0.3s;
}
.elementor-74 .elementor-element.elementor-element-0468295 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-74 .elementor-element.elementor-element-0468295,
.elementor-74 .elementor-element.elementor-element-0468295::before {
	--border-transition: 0.3s;
}
.elementor-74 .elementor-element.elementor-element-bb4655a {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-74 .elementor-element.elementor-element-bb4655a,
.elementor-74 .elementor-element.elementor-element-bb4655a::before {
	--border-transition: 0.3s;
}
.elementor-74 .elementor-element.elementor-element-f311303 {
	--display: flex;
	--align-items: flex-start;
	--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 12px;
	--padding-right: 12px;
}
.elementor-74 .elementor-element.elementor-element-49c0ad1 .elementor-heading-title {
	color: #efefef;
	font-family: "Roboto", Sans-serif;
	font-weight: 600;
	line-height: 100px;
}
.elementor-74 .elementor-element.elementor-element-3e2f76e .title-area {
	text-align: left;
}
.elementor-74 .elementor-element.elementor-element-3e2f76e .sec-title {
	color: #ffffff;
}
.elementor-74 .elementor-element.elementor-element-3e2f76e p {
	color: #ffffff;
}
.elementor-74 .elementor-element.elementor-element-e97f944 {
	--display: flex;
	--justify-content: center;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 12px;
	--padding-right: 12px;
}
.elementor-74 .elementor-element.elementor-element-80d0a71 {
	--display: flex;
	--background-transition: 0.3s;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-74 .elementor-element.elementor-element-80d0a71,
.elementor-74 .elementor-element.elementor-element-80d0a71::before {
	--border-transition: 0.3s;
}
.elementor-74 .elementor-element.elementor-element-63ed403 {
	--display: flex;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-74 .elementor-element.elementor-element-63ed403.e-con {
	--flex-grow: 0;
	--flex-shrink: 0;
}
.elementor-74 .elementor-element.elementor-element-d553ea9 > .elementor-widget-container {
	margin: -70px 0px -70px 0px;
	padding: 0px 150px 0px 150px;
}
.elementor-74 .elementor-element.elementor-element-2b137f1 {
	--display: flex;
	--overflow: hidden;
	--background-transition: 0.3s;
	--padding-top: 50px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-74 .elementor-element.elementor-element-2b137f1:not(.elementor-motion-effects-element-type-background),
.elementor-74
	.elementor-element.elementor-element-2b137f1
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-color: #1c2d37;
}
.elementor-74 .elementor-element.elementor-element-2b137f1,
.elementor-74 .elementor-element.elementor-element-2b137f1::before {
	--border-transition: 0.3s;
}
.elementor-74 .elementor-element.elementor-element-d934ed0 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-74 .elementor-element.elementor-element-d934ed0,
.elementor-74 .elementor-element.elementor-element-d934ed0::before {
	--border-transition: 0.3s;
}
.elementor-74 .elementor-element.elementor-element-27db0f1 {
	--display: flex;
	--background-transition: 0.3s;
	--padding-top: 20px;
	--padding-bottom: 0px;
	--padding-left: 12px;
	--padding-right: 12px;
}
.elementor-74 .elementor-element.elementor-element-27db0f1.e-con {
	--align-self: center;
}
.elementor-74 .elementor-element.elementor-element-d2fc6c5 .title-area {
	text-align: left;
}
.elementor-74 .elementor-element.elementor-element-d2fc6c5 .sec-title {
	color: #ffffff;
}
.elementor-74 .elementor-element.elementor-element-d2fc6c5 p {
	color: #ffffff;
}
.elementor-74 .elementor-element.elementor-element-193d25d {
	--display: flex;
	--justify-content: flex-start;
	--align-items: center;
	--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 12px;
	--padding-right: 12px;
}
.elementor-74 .elementor-element.elementor-element-fba0a81 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--gap: 0px 0px;
	--background-transition: 0.3s;
	--padding-top: 80px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-74 .elementor-element.elementor-element-fba0a81,
.elementor-74 .elementor-element.elementor-element-fba0a81::before {
	--border-transition: 0.3s;
}
.elementor-74 .elementor-element.elementor-element-85fd617 {
	--display: flex;
	--background-transition: 0.3s;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 12px;
	--padding-right: 12px;
}
.elementor-74 .elementor-element.elementor-element-5a656ed > .elementor-widget-container {
	margin: 24px 0px 0px 0px;
}
.elementor-74 .elementor-element.elementor-element-5a656ed .title-area {
	text-align: center;
}
.elementor-74 .elementor-element.elementor-element-5a656ed .sec-title {
	color: #ffffff;
}
.elementor-74 .elementor-element.elementor-element-c9bb159 {
	--display: flex;
	--overflow: hidden;
	--background-transition: 0.3s;
	--overlay-opacity: 0.5;
}
.elementor-74 .elementor-element.elementor-element-c9bb159:not(.elementor-motion-effects-element-type-background),
.elementor-74
	.elementor-element.elementor-element-c9bb159
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-image: url("../../2024/07/project-bg-1-1-1.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.elementor-74 .elementor-element.elementor-element-c9bb159::before,
.elementor-74 .elementor-element.elementor-element-c9bb159 > .elementor-background-video-container::before,
.elementor-74
	.elementor-element.elementor-element-c9bb159
	> .e-con-inner
	> .elementor-background-video-container::before,
.elementor-74 .elementor-element.elementor-element-c9bb159 > .elementor-background-slideshow::before,
.elementor-74 .elementor-element.elementor-element-c9bb159 > .e-con-inner > .elementor-background-slideshow::before,
.elementor-74
	.elementor-element.elementor-element-c9bb159
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer::before {
	--background-overlay: "";
	background-color: #0d0d0c;
}
.elementor-74 .elementor-element.elementor-element-c9bb159,
.elementor-74 .elementor-element.elementor-element-c9bb159::before {
	--border-transition: 0.3s;
}
.elementor-74 .elementor-element.elementor-element-985b243 {
	--display: flex;
	--background-transition: 0.3s;
	--padding-top: 120px;
	--padding-bottom: 120px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-74 .elementor-element.elementor-element-985b243:not(.elementor-motion-effects-element-type-background),
.elementor-74
	.elementor-element.elementor-element-985b243
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-color: #c0cdd1;
}
.elementor-74 .elementor-element.elementor-element-985b243,
.elementor-74 .elementor-element.elementor-element-985b243::before {
	--border-transition: 0.3s;
}
.elementor-74 .elementor-element.elementor-element-445bd4a {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--justify-content: center;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-74 .elementor-element.elementor-element-445bd4a,
.elementor-74 .elementor-element.elementor-element-445bd4a::before {
	--border-transition: 0.3s;
}
.elementor-74 .elementor-element.elementor-element-f548765 {
	--display: flex;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 12px;
	--padding-right: 12px;
}
.elementor-74 .elementor-element.elementor-element-011b636 .title-area {
	text-align: center;
}
.elementor-74 .elementor-element.elementor-element-b05efad {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--gap: 0px 0px;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-74 .elementor-element.elementor-element-b05efad,
.elementor-74 .elementor-element.elementor-element-b05efad::before {
	--border-transition: 0.3s;
}
.elementor-74 .elementor-element.elementor-element-f4aafed {
	--display: flex;
	--background-transition: 0.3s;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 12px;
	--padding-right: 12px;
}
.elementor-74 .elementor-element.elementor-element-94c8afe {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--background-transition: 0.3s;
	--padding-top: 120px;
	--padding-bottom: 120px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-74 .elementor-element.elementor-element-94c8afe:not(.elementor-motion-effects-element-type-background),
.elementor-74
	.elementor-element.elementor-element-94c8afe
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-color: #1c2d37;
}
.elementor-74 .elementor-element.elementor-element-94c8afe,
.elementor-74 .elementor-element.elementor-element-94c8afe::before {
	--border-transition: 0.3s;
}
.elementor-74 .elementor-element.elementor-element-dfd82f2 {
	--display: flex;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 12px;
	--padding-right: 12px;
}
.elementor-74 .elementor-element.elementor-element-e1347a1 .title-area {
	text-align: left;
}
.elementor-74 .elementor-element.elementor-element-e1347a1 .sec-title {
	color: #ffffff;
}
.elementor-74 .elementor-element.elementor-element-e1347a1 p {
	color: #ffffff;
}
.elementor-74 .elementor-element.elementor-element-0e29e52 .name {
	color: #ffffff;
}
.elementor-74 .elementor-element.elementor-element-0e29e52 .desig {
	color: #ffffff;
}
.elementor-74 .elementor-element.elementor-element-0e29e52 .text {
	color: #ffffff;
}
.elementor-74 .elementor-element.elementor-element-4f1a0cd {
	--display: flex;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 12px;
	--padding-right: 12px;
}
.elementor-74 .elementor-element.elementor-element-610e1fc {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--gap: 0px 0px;
	--background-transition: 0.3s;
}
.elementor-74 .elementor-element.elementor-element-610e1fc:not(.elementor-motion-effects-element-type-background),
.elementor-74
	.elementor-element.elementor-element-610e1fc
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-color: #1c2d37;
}
.elementor-74 .elementor-element.elementor-element-610e1fc,
.elementor-74 .elementor-element.elementor-element-610e1fc::before {
	--border-transition: 0.3s;
}
.elementor-74 .elementor-element.elementor-element-aef0cca {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--background-transition: 0.3s;
}
.elementor-74 .elementor-element.elementor-element-aef0cca.e-con {
	--flex-grow: 0;
	--flex-shrink: 0;
}
.elementor-74 .elementor-element.elementor-element-0470759 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--background-transition: 0.3s;
}
.elementor-74 .elementor-element.elementor-element-38dbf83 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--gap: 0px 0px;
	--background-transition: 0.3s;
}
.elementor-74 .elementor-element.elementor-element-38dbf83:not(.elementor-motion-effects-element-type-background),
.elementor-74
	.elementor-element.elementor-element-38dbf83
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-color: #000000;
}
.elementor-74 .elementor-element.elementor-element-38dbf83,
.elementor-74 .elementor-element.elementor-element-38dbf83::before {
	--border-transition: 0.3s;
}
.elementor-74 .elementor-element.elementor-element-9922500 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--background-transition: 0.3s;
}
.elementor-74 .elementor-element.elementor-element-b395334 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--justify-content: center;
	--align-items: center;
	--background-transition: 0.3s;
}
.elementor-74 .elementor-element.elementor-element-4632355 .elementor-heading-title {
	color: #edad22;
}
.elementor-74 .elementor-element.elementor-element-ba57710 .elementor-icon-list-icon i {
	color: #edad22;
	transition: color 0.3s;
}
.elementor-74 .elementor-element.elementor-element-ba57710 .elementor-icon-list-icon svg {
	fill: #edad22;
	transition: fill 0.3s;
}
.elementor-74 .elementor-element.elementor-element-ba57710 {
	--e-icon-list-icon-size: 14px;
	--icon-vertical-offset: 0px;
}
.elementor-74 .elementor-element.elementor-element-ba57710 .elementor-icon-list-text {
	color: #ffffff;
	transition: color 0.3s;
}
.elementor-74 .elementor-element.elementor-element-772293a {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--justify-content: center;
	--align-items: center;
	--background-transition: 0.3s;
}
.elementor-74 .elementor-element.elementor-element-c983cb4 .elementor-heading-title {
	color: #edad22;
}
.elementor-74 .elementor-element.elementor-element-7ac362f .elementor-icon-list-icon i {
	color: #edad22;
	transition: color 0.3s;
}
.elementor-74 .elementor-element.elementor-element-7ac362f .elementor-icon-list-icon svg {
	fill: #edad22;
	transition: fill 0.3s;
}
.elementor-74 .elementor-element.elementor-element-7ac362f {
	--e-icon-list-icon-size: 14px;
	--icon-vertical-offset: 0px;
}
.elementor-74 .elementor-element.elementor-element-7ac362f .elementor-icon-list-text {
	color: #ffffff;
	transition: color 0.3s;
}
.elementor-74 .elementor-element.elementor-element-0abdd42 {
	--display: flex;
	--background-transition: 0.3s;
}
.elementor-74 .elementor-element.elementor-element-0abdd42,
.elementor-74 .elementor-element.elementor-element-0abdd42::before {
	--border-transition: 0.3s;
}
@media (max-width: 1024px) {
	.elementor-74 .elementor-element.elementor-element-761a0fd:not(.elementor-motion-effects-element-type-background),
	.elementor-74
		.elementor-element.elementor-element-761a0fd
		> .elementor-motion-effects-container
		> .elementor-motion-effects-layer {
		background-position: 0px 0px;
	}
	.elementor-74 .elementor-element.elementor-element-0468295 {
		--flex-direction: column;
		--container-widget-width: 100%;
		--container-widget-height: initial;
		--container-widget-flex-grow: 0;
		--container-widget-align-self: initial;
		--flex-wrap-mobile: wrap;
	}
	.elementor-74 .elementor-element.elementor-element-bb4655a {
		--flex-direction: column;
		--container-widget-width: 100%;
		--container-widget-height: initial;
		--container-widget-flex-grow: 0;
		--container-widget-align-self: initial;
		--flex-wrap-mobile: wrap;
	}
	.elementor-74 .elementor-element.elementor-element-f311303 {
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 36px;
		--padding-right: 36px;
	}
	.elementor-74 .elementor-element.elementor-element-3e2f76e .title-area {
		text-align: center;
	}
	.elementor-74 .elementor-element.elementor-element-e97f944 {
		--justify-content: center;
		--align-items: center;
		--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 36px;
		--padding-right: 36px;
	}
	.elementor-74 .elementor-element.elementor-element-d553ea9 > .elementor-widget-container {
		padding: 0px 36px 0px 36px;
	}
	
	}
	.elementor-74 .elementor-element.elementor-element-d934ed0 {
		--flex-direction: column;
		--container-widget-width: 100%;
		--container-widget-height: initial;
		--container-widget-flex-grow: 0;
		--container-widget-align-self: initial;
		--flex-wrap-mobile: wrap;
	}
	.elementor-74 .elementor-element.elementor-element-27db0f1 {
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 36px;
		--padding-right: 36px;
	}
	.elementor-74 .elementor-element.elementor-element-d2fc6c5 .title-area {
		text-align: center;
	}
	.elementor-74 .elementor-element.elementor-element-193d25d {
		--justify-content: center;
		--align-items: center;
		--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 36px;
		--padding-right: 36px;
	}
	.elementor-74 .elementor-element.elementor-element-fba0a81 {
		--flex-direction: column-reverse;
		--container-widget-width: 100%;
		--container-widget-height: initial;
		--container-widget-flex-grow: 0;
		--container-widget-align-self: initial;
		--flex-wrap-mobile: wrap;
		--padding-top: 80px;
		--padding-bottom: 0px;
		--padding-left: 0px;
		--padding-right: 0px;
	}
	.elementor-74 .elementor-element.elementor-element-85fd617 {
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 36px;
		--padding-right: 36px;
	}
	.elementor-74 .elementor-element.elementor-element-985b243 {
		--padding-top: 80px;
		--padding-bottom: 80px;
		--padding-left: 0px;
		--padding-right: 0px;
	}
	.elementor-74 .elementor-element.elementor-element-445bd4a {
		--flex-direction: column;
		--container-widget-width: 100%;
		--container-widget-height: initial;
		--container-widget-flex-grow: 0;
		--container-widget-align-self: initial;
		--flex-wrap-mobile: wrap;
	}
	.elementor-74 .elementor-element.elementor-element-f548765 {
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 36px;
		--padding-right: 36px;
	}
	.elementor-74 .elementor-element.elementor-element-011b636 .title-area {
		text-align: center;
	}
	.elementor-74 .elementor-element.elementor-element-b05efad {
		--flex-direction: column-reverse;
		--container-widget-width: 100%;
		--container-widget-height: initial;
		--container-widget-flex-grow: 0;
		--container-widget-align-self: initial;
		--flex-wrap-mobile: wrap;
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 0px;
		--padding-right: 0px;
	}
	.elementor-74 .elementor-element.elementor-element-f4aafed {
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 36px;
		--padding-right: 36px;
	}
	.elementor-74 .elementor-element.elementor-element-94c8afe {
		--flex-direction: column-reverse;
		--container-widget-width: 100%;
		--container-widget-height: initial;
		--container-widget-flex-grow: 0;
		--container-widget-align-self: initial;
		--flex-wrap-mobile: wrap;
		--padding-top: 80px;
		--padding-bottom: 80px;
		--padding-left: 0px;
		--padding-right: 0px;
	}
	.elementor-74 .elementor-element.elementor-element-dfd82f2 {
		--padding-top: 50px;
		--padding-bottom: 0px;
		--padding-left: 36px;
		--padding-right: 36px;
	}
	.elementor-74 .elementor-element.elementor-element-e1347a1 .title-area {
		text-align: center;
	}
	.elementor-74 .elementor-element.elementor-element-4f1a0cd {
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 36px;
		--padding-right: 36px;
	}
}
@media (max-width: 767px) {
	.elementor-74 .elementor-element.elementor-element-a593fbe {
		--width: 360px;
	}
	.elementor-74 .elementor-element.elementor-element-43b60fe {
		--width: 195px;
		--justify-content: flex-start;
		--align-items: flex-start;
		--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	}
	.elementor-74 .elementor-element.elementor-element-761a0fd:not(.elementor-motion-effects-element-type-background),
	.elementor-74
		.elementor-element.elementor-element-761a0fd
		> .elementor-motion-effects-container
		> .elementor-motion-effects-layer {
		background-position: 0px 0px;
	}
	.elementor-74 .elementor-element.elementor-element-f311303 {
		--padding-top: 20px;
		--padding-bottom: 12px;
		--padding-left: 12px;
		--padding-right: 12px;
	}
	.elementor-74 .elementor-element.elementor-element-49c0ad1 .elementor-heading-title {
		line-height: 1.3em;
	}
	.elementor-74 .elementor-element.elementor-element-e97f944 {
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 12px;
		--padding-right: 12px;
	}
	.elementor-74 .elementor-element.elementor-element-d553ea9 > .elementor-widget-container {
		padding: 0px 12px 0px 12px;
	}
	.elementor-74 .elementor-element.elementor-element-27db0f1 {
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 12px;
		--padding-right: 12px;
	}
	.elementor-74 .elementor-element.elementor-element-193d25d {
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 12px;
		--padding-right: 12px;
	}
	.elementor-74 .elementor-element.elementor-element-85fd617 {
		--gap: 0px 0px;
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 12px;
		--padding-right: 12px;
	}
	.elementor-74 .elementor-element.elementor-element-f548765 {
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 12px;
		--padding-right: 12px;
	}
	.elementor-74 .elementor-element.elementor-element-f4aafed {
		--gap: 0px 0px;
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 12px;
		--padding-right: 12px;
	}
	.elementor-74 .elementor-element.elementor-element-94c8afe {
		--padding-top: 80px;
		--padding-bottom: 80px;
		--padding-left: 0px;
		--padding-right: 0px;
	}
	.elementor-74 .elementor-element.elementor-element-dfd82f2 {
		--padding-top: 50px;
		--padding-bottom: 0px;
		--padding-left: 12px;
		--padding-right: 12px;
	}
	.elementor-74 .elementor-element.elementor-element-4f1a0cd {
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 12px;
		--padding-right: 12px;
	}
}
@media (min-width: 768px) {
	.elementor-74 .elementor-element.elementor-element-43b60fe {
		--width: 15.036%;
	}
	.elementor-74 .elementor-element.elementor-element-36e1fee {
		--width: 33.3333%;
	}
	.elementor-74 .elementor-element.elementor-element-6fbecbb {
		--width: 66.6666%;
	}
	.elementor-74 .elementor-element.elementor-element-f311303 {
		--width: 50%;
	}
	.elementor-74 .elementor-element.elementor-element-e97f944 {
		--width: 50%;
	}
	.elementor-74 .elementor-element.elementor-element-63ed403 {
		--width: 100.408%;
	}
	.elementor-74 .elementor-element.elementor-element-27db0f1 {
		--width: 50%;
	}
	.elementor-74 .elementor-element.elementor-element-193d25d {
		--width: 50%;
	}
	.elementor-74 .elementor-element.elementor-element-85fd617 {
		--width: 100%;
	}
	.elementor-74 .elementor-element.elementor-element-f548765 {
		--width: 50%;
	}
	.elementor-74 .elementor-element.elementor-element-f4aafed {
		--width: 100%;
	}
	.elementor-74 .elementor-element.elementor-element-dfd82f2 {
		--width: 58.333%;
	}
	.elementor-74 .elementor-element.elementor-element-4f1a0cd {
		--width: 41.667%;
	}
	.elementor-74 .elementor-element.elementor-element-aef0cca {
		--width: 18.905%;
	}
	.elementor-74 .elementor-element.elementor-element-0470759 {
		--width: 50%;
	}
	.elementor-74 .elementor-element.elementor-element-9922500 {
		--width: 50%;
	}
	.elementor-74 .elementor-element.elementor-element-b395334 {
		--width: 50%;
	}
	.elementor-74 .elementor-element.elementor-element-772293a {
		--width: 50%;
	}
}
@media (max-width: 1024px) and (min-width: 768px) {
	.elementor-74 .elementor-element.elementor-element-f311303 {
		--width: 100%;
	}
	.elementor-74 .elementor-element.elementor-element-e97f944 {
		--width: 100%;
	}
	.elementor-74 .elementor-element.elementor-element-27db0f1 {
		--width: 100%;
	}
	.elementor-74 .elementor-element.elementor-element-193d25d {
		--width: 100%;
	}
	.elementor-74 .elementor-element.elementor-element-85fd617 {
		--width: 100%;
	}
	.elementor-74 .elementor-element.elementor-element-f548765 {
		--width: 100%;
	}
	.elementor-74 .elementor-element.elementor-element-f4aafed {
		--width: 100%;
	}
	.elementor-74 .elementor-element.elementor-element-dfd82f2 {
		--width: 100%;
	}
	.elementor-74 .elementor-element.elementor-element-4f1a0cd {
		--width: 100%;
	}
}
@media (min-width: 1025px) {
	.elementor-74 .elementor-element.elementor-element-c9bb159:not(.elementor-motion-effects-element-type-background),
	.elementor-74
		.elementor-element.elementor-element-c9bb159
		> .elementor-motion-effects-container
		> .elementor-motion-effects-layer {
		background-attachment: fixed;
	}
}
